<nav class="navbar navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto" style="display: flex; flex-direction: row; justify-content: space-between; width: 35vw; margin-left: 20px;">
        <li class="nav-item active"><a class="nav-link" href="/">Strona główna</a></li>
        <li class="nav-item active"><a class="nav-link" href="/shifts/manageShiftsView">Status pracy</a></li>
        <li class="nav-item active"><a class="nav-link" href="/shifts/shiftsView">Godziny pracy</a></li>
        <li class="nav-item active"><a class="nav-link" href="/">Kalkulacja wynagrodzenia</a></li>
        <li class="nav-item active"><a class="nav-link" href="/users/login">Wyloguj się</a></li>
    </ul>
</nav>