<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twoje godziny pracy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-dark bg-dark">
        <ul class="navbar-nav mr-auto" style="display: flex; flex-direction: row; justify-content: space-between; width: 35vw; margin-left: 20px;">
            <li class="nav-item active"><a class="nav-link" href="/">Strona główna</a></li>
            <li class="nav-item active"><a class="nav-link" href="/widokZmiany">Status pracy</a></li>
            <li class="nav-item active"><a class="nav-link" href="/widokGodzin">Godziny pracy</a></li>
            <li class="nav-item active"><a class="nav-link" href="/">Kalkulacja wynagrodzenia</a></li>
            <li class="nav-item active"><a class="nav-link" href="/widokLogowania">Wyloguj się</a></li>
        </ul>
    </nav>
    <hr>

    <div style="margin-left: 30px;">
        <h1>Twoje godziny pracy</h1>

    <br>
    <br>

    <!-- Shifts date form -->
    <form action="/" method="POST">
        <label for="date">Select Date:</label>
        <div style="display: flex; flex-direction: row;">
            <input class="form-control" style="max-width: 200px; margin-right: 10px;" type="date" id="date" name="selectedDate" value="2024-11-19">
            <button class="btn btn-dark" type="submit">Wyświetl godziny</button>
        </div>
    </form>

    <br>

    <!-- Czas przepracowany -->
    <p style="color: green;">Czas przepracowany: 4 godz. i 30 min.</p>

    <br>

    <!-- Lista zmian z danego dnia -->
    <ul>
        <li>Zmiana od 08:00 do 12:00</li>
        <li>Zmiana od 13:00 do 16:00</li>
        <li>Zmiana od 18:00 do teraz</li>
    </ul>

    <!-- Jeśli brak zmian -->
    <!-- <p style="color: red;">Brak zmian w wybranym dniu.</p> -->
    </div>
</body>
</html>